@media screen and ( max-width: 1600px)
  .scrollUp-button
    right: 10px
@media screen and ( max-width: 1400px )
  .section
    &-title
      font-size: 1rem
  .menu
    &-section
      &__link
        font-size: 0.8rem
@media screen and ( max-width: 1300px )
  .footer
    &-img
      &__left
        &::before
          display: none
      &__right
        &::after
          display: none
@media screen and ( max-width: 1250px )
  .container-wrap
    max-width: 900px
  .partners
    &__cards
      &-card
        flex-basis: 40%
  .subheader
    &__menu
      &-item
        font-size: 0.8rem
      &-items
        margin-right: 0
        margin-left: 0

@media screen and ( max-width: 1170px )
  .services
    padding-top: 50px
    padding-bottom: 50px
    &__header
      margin-bottom: 40px
    &__info
      flex-wrap: wrap
      &-button
        margin-top: 0
      &-item
        max-width: 33%
        margin-bottom: 20px
      &-card
        display: flex
        flex-direction: row
        justify-content: space-between
        width: 80%
        margin: auto
        align-items: center
  .info
    &-card
      &--title
        margin-top: 0
        &:after
          margin-top: 0
          margin-bottom: 0
      &--subtitle
        margin-bottom: 0
      &--dropdown
        margin-bottom: 1rem
      &--search
        margin-right: 10px
  .info
    &-item
      &--title
        line-height: 50px
      &--img
        margin-bottom: 20px
  .cards
    display: flex
    flex-direction: column
    flex-basis: 80%
    align-items: center
    &--card
      margin: auto
      max-width: 80%
  .img
    width: 100%
@media screen and ( max-width: 1120px )
  .footer
    &-img
      &__left
        display: none
    &-img
      &__right
        display: none
@media screen and ( max-width: 1100px )
  .partners
    &__cards
      &-card
        margin: auto
        margin-bottom: 1rem
@media screen and ( max-width: 1050px )
  .hero
    &__block
      max-width: 60%
      margin-left: 3rem
      &-subtitle
        max-width: 82%
      &-info
        font-size: 1rem
  .info
    &-item
      &--subtitle
        font-size: 1rem
  .interface
    text-align: center
  .block
    &-button
      margin-right: 0
@media screen and ( max-width: 1000px )
  .hero
    &__block
      &-title
        font-size: 4rem
        margin-top: 5rem
      &-subtitle
        font-size: 1rem
  .provider
    &__video
      padding-top: 0
  .forms
    margin-top: 4rem
    margin-bottom: 4rem
    &__container
      flex-wrap: wrap
      justify-content: center
    &__form
      max-width: 80%
      margin-bottom: 3rem
@media screen and ( max-width: 872px ) 
  .services
    &__info
      &-item
        max-width: 50%
        text-align: center
  .info
    &-item
      &--subtitle
        width: 80%
        margin: auto
      &--img
        margin-bottom: 0
      &--title
        line-height: 40px
  .video
    &__header
      font-size: 40px
  .forms
    &__form
      margin-right: 0
  .catchword
    padding-top: 3.5rem
    padding-bottom: 3.5rem
@media screen and ( max-width: 750px )
  .container-wrap
    max-width: 560px
  .subheader
    padding: 20px 0
    &__menu
      &-items
        display: none
  .info
    &-card
      &--subtitle
        display: none
  .video
    &__header
      font-size: 30px
  .catchword
    &__block
      padding-right: 0.5rem
      padding-left: 0.5rem
    &__info
      &-subtitle
        font-size: 0.8rem
        max-width: 100%
  .footer
    &__menu
      margin-left: 0.5rem
@media screen and ( max-width: 590px )
  .services
    &__info
      &-item
        max-width: 85%
        margin: auto
        margin-bottom: 20px
  .info
    &-item
      &--subtitle
        font-size: 0.8rem
  .partners
    padding-top: 2rem
    padding-bottom: 2rem
@media screen and ( max-width: 560px )
    .hero
      &__block
        max-width: 90%
        margin-left: 1rem
        &-subtitle
          max-width: 75%
        &-title
          font-size: 3rem
          margin-top: 2rem
        &-subtitle
          font-size: 0.8rem
        &-info
          font-size: 0.8rem
    .block
      &-item
        &::after
          margin: 0 15px
    .services
      &__header
        &-title
          text-transform: uppercase
          font-size: 3rem
        &-bg
          display: none
    .tabs
      width: 100%
@media screen and ( max-width: 495px )
  .cards
    padding-top: 1rem
    padding-bottom: 1rem
    &--card
      margin-bottom: 1rem
      &__img
        display: none
  .section
    &-cards
      margin-top: 0
  .form
    &__input
      font-size: 0.8rem
      padding: 0
      padding-left: 5px
      margin-bottom: 0.7rem
  .photo
    &__block
      &::before
        display: none
  .catchword
    &__button
      &-self
        font-size: 0.6rem
        padding: 5px 15px
@media screen and ( max-width: 450px )
  .header
    &__menu
      &-lang
        font-size: 0.8rem
    &__contacts
      font-size: 0.8rem
    &__country
      font-size: 0.8rem
  .hero
    &__block
      &-buttons
        text-align: center
      &-title
        &::after
          margin-top: 10px
          margin-bottom: 10px
  .services
    &__info
      &-card
        flex-direction: column
        width: 80%
        margin: auto
        align-items: center
    &__header
      &-title
        line-height: 50px
  .block  
    &-button
      width: 90%
      text-align: center
      margin-bottom: 10px
  .info
    &-card
      &--title
        margin-bottom: 1.5rem
        &::after
          margin-top: 0.5rem
          margin-bottom: 0.5rem
  .interface
    width: 90%
  .form
    &__search
      &-header
        display: none
      &-list
        font-size: 0.7rem
  .section
    &-title
      font-size: 0.8rem
  .menu
    &-section
      &__link
        font-size: 0.6rem
  .scrollUp
    width: 30px
    height: 30px
    opacity: 0.5
@media screen and ( max-width: 370px )
    .hero
      &__block
        &-buttons
          margin-top: 1rem
          text-align: center
    .block
      &-button
        width: 80%
        margin: auto
        &__light
          margin-top: 1rem
    .services
      &__info
        &-item
          max-width: 70%
    .img
      width: 100%
    .forms
      margin-top: 2rem
      margin-bottom: 2rem  
    .form
      &__input
        font-size: 0.6rem
    .catchword
      &__info
        &-subtitle
          font-size: 0.7rem    
      &__button
        &-self
          font-size: 0.6rem
          padding: 3px 10px
    .partners
      &__cards
        &-card
          padding: 25px 3px
          &:nth-child(1)
            padding: 25px 3px
          &:nth-child(4)
            padding: 25px 3px
@media screen and ( max-width: 290px )
    .hero
      &__block
        &-title
          font-size: 2.3rem

@media screen and ( max-height: 650px )
    .hero
      &__block
        &-title
          margin-top: 1rem
          &::after
            margin-top: 10px
            margin-bottom: 10px
    .subheader
      padding: 20px 0
@media screen and ( max-height: 429px )
    .hero
      &__block
        &-info
          display: none