@media screen and ( max-width: 1250px )
  .subheader
    &__menu
      &-item
        font-size: 0.8rem
      &-items
        margin-right: 0
        margin-left: 0

@media screen and ( max-width: 1170px )
  .services
    &__info
      flex-wrap: wrap
      &-item
        flex-basis: 50%
@media screen and ( max-width: 1050px )

  .hero
    &__block
      max-width: 60%
      margin-left: 3rem
      &-subtitle
        max-width: 82%
      &-info
        font-size: 1rem

@media screen and ( max-width: 1000px )
  .hero
    &__block
      &-title
        font-size: 4rem
        margin-top: 5rem
      &-subtitle
        font-size: 1rem
@media screen and ( max-width: 750px )  
  .subheader
    padding: 20px 0
    &__menu
      &-items
        display: none

@media screen and ( max-width: 560px )
    .hero
      &__block
        max-width: 90%
        margin-left: 0
        &-subtitle
          max-width: 75%
        &-title
          font-size: 3rem
          margin-top: 2rem
        &-subtitle
          font-size: 0.8rem
        &-info
          font-size: 0.8rem
    .block
      &-item
        &::after
          margin: 0 15px

@media screen and ( max-width: 450px )
  .header
    &__menu
      &-lang
        font-size: 0.8rem
    &__contacts
      font-size: 0.8rem
    &__country
      font-size: 0.8rem
  .hero
    &__block
      &-title
        &::after
          margin-top: 10px
          margin-bottom: 10px
@media screen and ( max-width: 370px )
    .hero
      &__block
        &-buttons
          margin-top: 1rem
          text-align: center
    .block
      &-button
        width: 80%
        margin: auto
        &__light
          margin-top: 1rem
@media screen and ( max-width: 290px )
    .hero
      &__block
        &-title
          font-size: 2.3rem

@media screen and ( max-height: 650px )
    .hero
      &__block
        &-title
          margin-top: 1rem
          &::after
            margin-top: 10px
            margin-bottom: 10px
    .subheader
      padding: 20px 0